html {
    background-color: #2f2f2f;
    color: #ccc;
}

h3 {
    margin-top: 0px;
    margin-bottom: vh;
    float: left;
}

#ttl {
    float: left;
    margin-right: 1vw;
    font-size: 20px;
}

#outputArea,
#txt-editor {
    border: 1px solid #bbb;
    background-color: #272822;
    color: #ccc;
    resize: none;
    width: 100%;
    height: 100%;
}

.CodeMirror {
    border: 1px solid #bbb;
    width: 100%;
    height: calc(100% - 83px);
    /* font-family: monospace, 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', 'Courier New', Courier, Monaco; */
    font-family: "Red Hat Mono", monospace;
}

button {
    font-family: Monaco;
    margin-right: 2vw;
    height: 26px;
}

#terminal_clear {
    margin-left: 1vw;
}

#fontsize_down {
    margin-left: 1vw;
    margin-right: 0vw;
}

#fontsize {
    margin-left: 3vw;
}

#file {
    margin-left: 0vw;
}

#run {
    margin-right: 0vw;
}

#save_main {
    visibility: hidden;
    height: 30px;
    float: left;
}

#save_main.is-hidden {
    visibility: visible;
}

#delete_main {
    visibility: hidden;
    height: 30px;
    float: left;
}

#delete_main.is-hidden {
    visibility: visible;
}

#file_list {
    visibility: hidden;
    height: 30px;
}

#file_list.is-hidden {
    visibility: visible;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#connectButton {
    clear: both;
}

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    background-image: url("sep_v.png");
}

.gutter.gutter-vertical {
    cursor: row-resize;
    background-image: url("sep_h.png");
}

#flex {
    display: flex;
    flex-direction: row;
    height: 92vh;
}

#three {
    height: 96vh;
}